{% extends "app/layout.html" %}

{% block content %}{% load staticfiles %}

<div class="container">
		
        <div class="title_pol">
				<h1>О нас</h1>
				<p>Черпая вдохновение в ритме жизни крупных городов, STREET STYLE представляет лучшие модели кроссовок, актуальную обувь, одежду в спортивном стиле и аксессуары. 
            Ассортимент STREET STYLE формируется из ключевых новинок известных спортивных производителей и товаров от брендов категории лайфстайл. Наша миссия: популяризация кроссовок, как неотъемлемой части гардероба современного человека.
            Ядро ассортимента STREET STYLE состоит из кроссовок от главных спортивных брендов. 
            Классические и современные модели adidas Originals и Reebok Classics, ожидаемые релизы Nike и Jordan Brand, кроссовки PUMA, Saucony и New Balance — каждый сезон мы представляем десятки и даже сотни новых позиций. 
            Мы уважаем и чтим классику, но в то же время всегда находимся на пике трендов, отслеживая и представляя в наших магазинах лимитированные кроссовки. 
            В STREET STYLE вы всегда найдете подходящую пару кроссовок вне зависимости от стилевых предпочтений.</p>
        </div>


       
</div>



		
		
{% endblock %}
